services:
  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=app_test

  web:
    image: gitea.risky.info/risky-info/gossip-web:latest
    ports:
      - "9311:8000"
    environment:
      GOSSIP_DATABASE_DRIVER: postgres
      GOSSIP_DATABASE_TESTCONNECTION: host=postgres port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_DATABASE_CONNECTION: host=postgres port=5432 user=admin dbname=app_test password=admin sslmode=disable
    depends_on:
      - db
