services:
  cache:
    image: "redis:alpine"
    container_name: pagoda_cache
    ports:
      - "127.0.0.1:6379:6379"
  db:
    # PG 16 is currenly not supported https://github.com/ent/ent/issues/3750
    image: postgres:15-alpine
    container_name: pagoda_db
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=app

  web:
    image: gitea.risky.info/risky-info/gossip-web:{tag}
    ports:
      - "8090:8080"
    depends_on:
      - redis
      - postgres

  worker:
    image: gitea.risky.info/risky-info/gossip-worker:{tag}
    depends_on:
      - db
      - cache
