services:
  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=app_test
    networks:
      - backend
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    image: gitea.risky.info/risky-info/gossip-web:latest
    restart: unless-stopped
    environment:
      GOSSIP_HTTP_HOSTNAME: g.v3m.net
      GOSSIP_APP_ENVIRONMENT: prod
      GOSSIP_DATABASE_DRIVER: postgres
      GOSSIP_DATABASE_TESTCONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_DATABASE_CONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_MAIL_HOSTNAME: risky.info
      GOSSIP_MAIL_PORT: 587
      GOSSIP_MAIL_USER: noreply@risky.info
      GOSSIP_MAIL_PASSWORD: ${GOSSIP_MAIL_PASSWORD}
      GOSSIP_MAIL_FROMADDRESS: noreply@risky.info
      GOSSIP_MAIL_SKIPTLSVERIFY: "true"
      GOSSIP_MAILHOG_HOSTNAME: g.v3m.net
    depends_on:
      - db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gossip.rule=Host(`g.v3m.net`)"
      - "traefik.http.routers.gossip.entrypoints=websecure"
      - "traefik.http.routers.gossip.tls.certresolver=myresolver"
      - "traefik.http.services.gossip.loadbalancer.server.port=8000"
    networks:
      - traefik-public
      - backend
    logging:
      driver: loki
      options:
        loki-url: http://127.0.0.1:3100/loki/api/v1/push
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "25:1025" # SMTP port
    networks:
      - backend
  worker:
    image: gitea.risky.info/risky-info/gossip-worker:latest
    restart: unless-stopped
    environment:
      GOSSIP_APP_ENVIRONMENT: prod
      GOSSIP_DATABASE_DRIVER: postgres
      GOSSIP_DATABASE_TESTCONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_DATABASE_CONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_MAILHOG_WS: ws://mailhog:8025/api/v2/websocket
    networks:
      - backend
    depends_on:
      - db
      - mailhog
    logging:
      driver: loki
      options:
        loki-url: http://127.0.0.1:3100/loki/api/v1/push

networks:
  traefik-public:
    name: traefik-public
    external: true
  backend:
    external: false

volumes:
  postgres_data:
