services:
  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=app_test

  web:
    image: gitea.risky.info/risky-info/gossip-web:latest
    ports:
      - "9311:8000"
    environment:
      GOSSIP_HTTP_HOSTNAME: gossip.risky.info
      GOSSIP_APP_ENVIRONMENT: prod
      GOSSIP_DATABASE_DRIVER: postgres
      GOSSIP_DATABASE_TESTCONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_DATABASE_CONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_MAIL_HOSTNAME: risky.info
      GOSSIP_MAIL_PORT: 587
      GOSSIP_MAIL_USER: noreply@risky.info
      GOSSIP_MAIL_PASSWORD: ${GOSSIP_MAIL_PASSWORD}
      GOSSIP_MAIL_FROMADDRESS: noreply@risky.info
      GOSSIP_MAIL_SKIPTLSVERIFY: "true"
    depends_on:
      - db
  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "25:1025"  # SMTP port
  worker:
    image: gitea.risky.info/risky-info/gossip-worker:latest
    ports:
      - "9311:8000"
    environment:
      GOSSIP_APP_ENVIRONMENT: prod
      GOSSIP_DATABASE_DRIVER: postgres
      GOSSIP_DATABASE_TESTCONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_DATABASE_CONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_MAILHOG_WS: ws://mailhog:8025/api/v2/websocket
    depends_on:
      - db
      - mailhog
