services:
  cache:
    image: "redis:alpine"
  db:
    # PG 16 is currenly not supported https://github.com/ent/ent/issues/3750
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=app

  web:
    image: gitea.risky.info/risky-info/gossip-web:latest
    ports:
      - "9311:8000"
    environment:
      GOSSIP_CACHE_HOSTNAME: cache
      GOSSIP_DATABASE_HOSTNAME: db
    depends_on:
      - cache
      - db

  worker:
    image: gitea.risky.info/risky-info/gossip-worker:latest
    environment:
      GOSSIP_CACHE_HOSTNAME: cache
      GOSSIP_DATABASE_HOSTNAME: db
    depends_on:
      - db
      - cache
