services:
  db:
    # PG 16 is currenly not supported https://github.com/ent/ent/issues/3750
    image: postgres:16-alpine
    container_name: gossip_db
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=app_test
