services:
  traefik:
    image: traefik:v3.0
    command:
      - "--providers.docker=true"
      - "--providers.docker.network=traefik-public"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=idriss@risky.info"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      # Dashboard config
      - "--api.dashboard=true"
      # Log config
      - --log.level=INFO
      - "--accesslog=true"
      - "--log.format=json"
      - "--accesslog.format=json"
      # Metrics config
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.addEntryPointsLabels=true"
      - "--metrics.prometheus.addServicesLabels=true"
    ports:
      - "80:80"
      - "443:443"
      # Dashboard port (you can restrict this to localhost)
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "letsencrypt:/letsencrypt"
      - "traefik-logs:/logs"  # New volume for logs
    networks:
      - traefik-public
    # Add labels to secure the dashboard
    labels:
      - "traefik.enable=true"
      # Dashboard router
      - "traefik.http.routers.dashboard.rule=Host(`traefik.v3m.net`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls.certresolver=myresolver"
      # Basic auth middleware (recommended)
      - "traefik.http.middlewares.auth.basicauth.users=idriss:$$apr1$$cIdOPlj3$$yDdeEu0GJR19jT6RW8pY8/"  # Generate this with htpasswd
      - "traefik.http.routers.dashboard.middlewares=auth@docker"
    logging:
      driver: loki
      options:
        loki-url: http://127.0.0.1:3100/loki/api/v1/push

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - traefik-public

  loki:
    image: grafana/loki:latest
    ports:
      - "127.0.0.1:3100:3100"
    volumes:
      - loki-data:/loki
    networks:
      - traefik-public

  grafana:
    image: grafana/grafana:latest
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - traefik-public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=Host(`grafana.v3m.net`)"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.routers.grafana.tls.certresolver=myresolver"
      - "traefik.http.routers.grafana.middlewares=auth@docker"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"

networks:
  traefik-public:
    name: traefik-public
    external: false

volumes:
  letsencrypt:
  traefik-logs:
  loki-data:
  prometheus-data:
  grafana-data:
