services:
  db:
    image: postgres:16-alpine
    container_name: gossip_db
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=app_test

  smtp:
    build:
      context: .
      dockerfile: smtp.dockerfile
    container_name: gossip_smtp
    ports:
      - "1025:25" # SMTP port (using 1025 for testing, non-privileged port)
    environment:
      GOSSIP_APP_ENVIRONMENT: local
      GOSSIP_DATABASE_DRIVER: postgres
      GOSSIP_DATABASE_CONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_SMTP_HOSTNAME: example.com
    depends_on:
      - db

  worker:
    build:
      context: .
      dockerfile: worker.dockerfile
    container_name: gossip_worker
    environment:
      GOSSIP_APP_ENVIRONMENT: local
      GOSSIP_DATABASE_DRIVER: postgres
      GOSSIP_DATABASE_CONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_SMTP_HOSTNAME: example.com
    depends_on:
      - db
      - smtp
