services:
  cache:
    image: "redis:alpine"
  db:
    # PG 16 is currenly not supported https://github.com/ent/ent/issues/3750
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=app

  web:
    image: gitea.risky.info/risky-info/gossip-web
    ports:
      - "8090:8080"
    environment:
      PAGODA_CACHE_HOSTNAME: redis
      PAGODA_DATABASE_HOSTNAME: postgres
    depends_on:
      - cache
      - db

  worker:
    image: gitea.risky.info/risky-info/gossip-worker
    environment:
      PAGODA_CACHE_HOSTNAME: cache
      PAGODA_DATABASE_HOSTNAME: db
    depends_on:
      - db
      - cache
