services:
  db:
    image: postgres:16-alpine
    container_name: gossip_db
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=app_test
  pgweb:
    image: sosedoff/pgweb:latest
    ports:
      - "127.0.0.1:8081:8081"
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgres://admin:admin@db:5432/app_test?sslmode=disable
    depends_on:
      - db
