services:
  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=app_test
    networks:
      - backend
    volumes:
      - postgres_data:/var/lib/postgresql/data
    dns:
      - "8.8.8.8"
      - "8.8.4.4"

  web:
    image: gitea.v3m.net/idriss/gossip-web:latest
    restart: unless-stopped
    environment:
      GOSSIP_HTTP_HOSTNAME: app.v3m.pw
      GOSSIP_APP_ENVIRONMENT: prod
      GOSSIP_DATABASE_DRIVER: postgres
      GOSSIP_DATABASE_TESTCONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_DATABASE_CONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_MAIL_HOSTNAME: smtp.migadu.com
      GOSSIP_MAIL_PORT: 587
      GOSSIP_MAIL_USER: noreply@risky.info
      GOSSIP_MAIL_PASSWORD: ${GOSSIP_MAIL_PASSWORD}
      GOSSIP_MAIL_FROMADDRESS: noreply@risky.info
      GOSSIP_MAIL_SKIPTLSVERIFY: "true"
      GOSSIP_SMTP_HOSTNAME: v3m.pw
    dns:
      - "8.8.8.8"
      - "8.8.4.4"
    depends_on:
      - db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gossip.rule=Host(`app.v3m.pw`)"
      - "traefik.http.routers.gossip.entrypoints=web-secure"
      - "traefik.http.routers.gossip.tls.certresolver=default"
      - "traefik.http.services.gossip.loadbalancer.server.port=8000"
    networks:
      - traefik-public
      - backend

  smtp:
    image: gitea.v3m.net/idriss/gossip-smtp:latest
    restart: unless-stopped
    ports:
      - "25:25"
    environment:
      GOSSIP_APP_ENVIRONMENT: prod
      GOSSIP_DATABASE_DRIVER: postgres
      GOSSIP_DATABASE_TESTCONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_DATABASE_CONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_SMTP_HOSTNAME: v3m.pw
    networks:
      - backend
    depends_on:
      - db

  worker:
    image: gitea.v3m.net/idriss/gossip-worker:latest
    restart: unless-stopped
    environment:
      GOSSIP_APP_ENVIRONMENT: prod
      GOSSIP_DATABASE_DRIVER: postgres
      GOSSIP_DATABASE_TESTCONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_DATABASE_CONNECTION: host=db port=5432 user=admin dbname=app_test password=admin sslmode=disable
      GOSSIP_SMTP_HOSTNAME: v3m.pw
    networks:
      - backend
    depends_on:
      - db
      - smtp

  pgweb:
    image: sosedoff/pgweb:latest
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pgweb.rule=Host(`db.v3m.pw`)"
      - "traefik.http.routers.pgweb.entrypoints=web-secure"
      - "traefik.http.routers.pgweb.tls.certresolver=default"
      - "traefik.http.services.pgweb.loadbalancer.server.port=8081"
      - "traefik.http.routers.pgweb.middlewares=auth"
    environment:
      - DATABASE_URL=postgres://admin:admin@db:5432/app_test?sslmode=disable
    networks:
      - traefik-public
      - backend
    depends_on:
      - db
    dns:
      - "8.8.8.8"
      - "8.8.4.4"

networks:
  traefik-public:
    name: traefik
    external: true
  backend:
    external: false

volumes:
  postgres_data:
